{% extends "layouts/admin.html" %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $("#organizers").select2({
        theme: "bootstrap-5",
        placeholder: "Select an organizer",
      });
    });
  </script>
  <script>
    // grab your saved lat/lng from Jinja
    const lat = parseFloat("{{ event.latitude }}");
    const lng = parseFloat("{{ event.longitude }}");

    // init map *at* the event coords
    const map = L.map("map").setView([lat, lng], 17);

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    // now drop a marker & circle
    L.marker([lat, lng]).addTo(map);
    L.circle([lat, lng], {
      color: "blue",
      fillColor: "#0033ff",
      fillOpacity: 0.5,
      radius: 50,
    }).addTo(map);
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <header class="col-md-6">
      <h2 class="h4 fw-bold">{{ event.name }}</h2>
      <p class="mb-0">
        <span class="fw-bold">Venue</span>: {{ event.address }}
      </p>
      <p class="mb-0"><span class="fw-bold">Date</span>: {{ event.date }}</p>
      <p class="mb-0">
        <span class="fw-bold">Time</span>
        : {{ event.time_in }} - {{ event.time_out }}
      </p>
      <p>
        <span class="fw-bold">Attendees</span>:
        {{ event.students.all()|length }} student
      </p>

      <div>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <div>
            {{ form.organizers.label(class="form-label") }}
            <select
              name="organizers"
              id="organizers"
              class="form-select"
              multiple>
              {% for organizer in organizers %}
                {% if organizer in event.organizers %}
                  <option value="{{ organizer.id }}" selected>
                    {{ organizer }}
                  </option>
                {% else %}
                  <option value="{{ organizer.id }}">{{ organizer }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="mt-3">
            <a href="{{ url_for('events.index') }}" class="btn btn-secondary">
              Cancel
            </a>
            <button type="submit" class="btn btn-primary">Add Organizers</button>
          </div>
        </form>
        <a
          href="{{ url_for('events.edit', event_id=event.id) }}"
          class="btn mt-3 btn-warning">
          Edit Event
        </a>
        <a
          href="{{ url_for('events.student_list', event_id=event.id) }}"
          class="btn mt-3 btn-success">
          Open Student List
        </a>
        <!-- <a
          href="{{ url_for('events.attendance_list', event_id=event.id) }}"
          class="btn mt-3 btn-dark">
          View Attendance
        </a> -->
      </div>
    </header>
    <div class="col-md-6">
      <div id="map" class="mt-2 rounded" style="height: 400px"></div>
    </div>
  </div>
{% endblock %}
